  <div class="boxwrap white-bg pad-bottom30">

    <div class="clearfix"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="title">TEAM <strong>ZAMST </strong> Y COLABORACION </h3>
          

            <h5 >UN EQUIPO CON LEGITIMIDAD Y CREDIBILIDAD.  </h5>
<p> Somos  un equipo de ex deportistas de altura nivel enfocado en la practica de los deportes. Y su rendimiento.  </p> 

        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-6">
          <h3 class="title"><strong>Nicolas Pinot </strong></h3>
            <div class="post-image"><img src="/static/images/dep2.png" alt="" ><a href="/static/images/dep2.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
            
          <div class="information">
           

              <p class="justify-text">
                <br>
    <strong>- EX MIEMBRO DEL EQUIPO NACIONAL DE SURFING ENTRE 1992-1998</strong>
</p>
<p class="justify-text">
    <strong>- CAMPEON DE EUROPA EN 1996 </strong>
</p>
<p class="justify-text">
    <strong>- MIEMBRO DEL INSTITUTO NACIONAL DEL DEPORTE , DE LA EXPERTISA Y DEL RENDIMINETO IN PARIS. (</strong>
    <a href="http://www.insep.fr/"><strong>http://www.insep.fr/</strong></a>
    <strong>) entre 1994 hasta 1998</strong>
</p>
<p class="justify-text">
    <strong> - MIEMBRO DEL EQUIPO EUR0PEO DE QUIKSILVER </strong>
    <a href="http://www.quiksilver.com/"><strong>http://www.quiksilver.com/</strong></a>
    <strong> durante 20 años</strong>
</p>
<p class="justify-text">
    <strong>- SURF INSTRUCTOR INTERNACIONAL MIEMBRO DE ISA (</strong>
    <a href="http://www.isasurf.org/"><strong>http://www.isasurf.org/</strong></a>
    <strong>)</strong>
</p>

<p>
    <strong>_ MASTER EN INTERNATIONAL BUSINESS MANAGEMENT HIGH SCHOOL OF BURDEO (ESC BORDEAUX).</strong>
</p>
<p>
    <strong><u>PORQUE YO ELIGI ZAMST? </u></strong>
</p>
<p>
    “Para mi una buena tobillera no debe solamente protegerte sino tanbien dejarte una libertad de movimientos sin molestarte. Así yo encontré las soluciones
    ZAMST con un materia suave y muy flexible… Saltar, correr, ponerlas en las botines de surf sin sentir nada excepto la protección era para mi increible.
</p>
<p>
    La expertice ortopédica de ZAMST y su colaboración con los mejores deportistas del munda hacen de ZAMST una marca que aporta LAS soluciones a tus lesiones
    y a tu retorno a la practica en los mejores condiciones”…
</p>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="title"><strong>Africa Duffaure </strong></h3>
          <div class="information">
       <p>
    <strong>
        Campeona de España de Natacion
        <br/>
        Campeona de Europa Junior
        <br/>
        Miembro del Equipo y la Seleccion Nacional
        <br/>
        Entrenadora de Natacion
        <br/>
        <br/>
    </strong>
    <strong></strong>
</p>
<p>
    <strong><u>PORQUE YO ELIGI ZAMST? </u></strong>
</p>
<p>
    <em>« Por mi aficion al Sky,sufri una rotura de ligamentos cruzados, lesion que con el tiempo, y ante la perdida de masa muscular, comence a resentir.</em>
    <em>
        <br/>
        Zamst me permitio a traves de su rodillera ZK 7 retomar y disfrutar la Nieve otra vez »
    </em>
    <em></em>
</p>

              
          </div>
        </div>

<div class="col-md-12">
          <h3 class="title"><strong>COLABORACION BRAIN  TEAM </strong></h3>
          <div class="col-md-6">
             <div class="post-image"><img src="/static/images/dep1.png" alt="" ><a href="/static/images/dep1.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
          </div>
            <div class="col-md-6">
          <div class="information">

<p>
    El <strong>“Brain Team”</strong> fue fundado el 15 de diciembre del año 2003 y a pesar de su corta existencia en estos años ya ha logrado marcar varios
    hitos y logros dentro del deporte nacional. Entre estos se cuentan por ejemplo, el haber traído el Triatlón de vuelta a Santiago después de más de 10 años
    de ausencia, y haciéndolo a través, de un evento de primer nivel y que ya va en su 9° versión, el <strong>Triatlón de Piedra Roja</strong>.
</p>
<p>
    <a href="http://www.brainteam.cl/">http://www.brainteam.cl/</a>
</p>
              
          </div>
          </div>
        </div>


      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  