  <div class="footer">
    <div class="footer-info">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 information">
            <h4 class="title"><strong>Información</strong></h4>
            <ul class="footer-menu">
              <li><a href="/Nosostros">Acerca de nosotros</a></li>
              <li><a href="/Como-comprar#Despacho">Despacho</a></li>
              
              <li><a href="/Como-comprar#Terminos">Terminos y condiciones</a></li>
              <li><a href="/Como-comprar#Contactenos">Contactanos</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 account">
            <h4 class="title"><strong>Mi Cuenta</strong></h4>
            <ul class="footer-menu">
              <li><a href="checkout.html">Mi información</a></li>
              <li><a href="checkout.html">Mi historial</a></li>
            
              <li><a href="shopping_cart.html">Carro de compra</a></li>
              <li><a href="/blog">Noticias</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 contact-info">
            <h4 class="title"><strong>Contacto</strong></h4>
            <p><i class="fa fa-phone"></i> {{info.fono}}</p>
            <p><i class="fa fa-envelope-o"></i><a href="mailto:{{info.email}}">{{info.email}}</a></p>
            <p><i class="fa fa-map-marker"></i> <span class="adress">{{info.dir1}}<br>
              {{info.dir2}}</span></p>
          </div>
          <div class="col-md-3 col-sm-6 latest-news">
            <h4 class="title"><strong>Noticias</strong></h4>
            <form class="newsletter">
              <input  type="text" name="" placeholder="Tu Correo @.com">
              <input type="submit" value="+" data-original-title="SUBMIT" data-placement="top" data-toggle="tooltip" class="tool button">
            </form>
            <ul class="payment-icon">
              <li><a href="#"><img src="/static/images/visa.png" alt="Visa Card"></a></li>
              <li><a href="#"><img src="/static/images/mastar-card.png" alt="Master Card"></a></li>
              <li><a href="#"><img src="/static/images/american-express.png" alt="American Express"></a></li>
              <li><a href="#"><img src="/static/images/paypal.png" alt="Paypal"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-info">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>© 2014 All Rights Reserved @ Crowdlatam.com</p>
          </div>
          <div class="col-md-6">
            <ul class="social-icon">
              <li><a href="https://www.facebook.com/{{ info.fb }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/{{ info.tw }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
             
            </ul>
          </div>
          <a href="#javascript:void(0)" id="back_top" >TOP</a> </div>
      </div>
    </div>
  </div>
  <!-- END  FOOTER--> 
</div>

</div>