  <div class="boxwrap white-bg pad-bottom30">
    <div class="page-index">
      <div class="container">
        <ul>
          <li><a href="index.html">Medicos</a></li>
          <li><strong class="blue">Detalle</strong></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">



        <div class="col-md-12">
          <div class="blog_wrap">
            <div class="post_details">
              <div class="post_content">
                 <div class="post-header">
                  <h3 class="post-title"><a href="#">EL HIELO</a></h3>
                </div>
                <div class="meta_space">
                  <div class="post_date"><span>03</span>Jan 2014</div>
                </div>
              

    <div class="col-md-6 ">   

<p>
    <strong>LA CRIOTERAPIA</strong>
</p>
<p>
    La crioterapia, (aplicación terapéutica del frío a través de distintos medios: hielo, agua fría, toalla húmeda, nitrógeno, CO2…) se utiliza de forma
    extendida en traumatología deportiva.
</p>
<p>
    Los efectos del frío se conocen desde la antigüedad. Hipócrates (460-370 AC) ya señala la utilización de hielo y nieve para reducir dolor y edemas.
</p>
<p>
    <strong>FUNCIÓN DE LA CRIOTERAPIA</strong>
</p>
<p>
    <strong>Alivio del dolor:</strong>
</p>
<p>
    El entumecimiento de la zona afectada permite un alivio del dolor.
</p>
<p>
    <strong>Reducción de la inflamación:</strong>
</p>
<p>
    La limitación de la actividad de los tejidos que rodean la lesión original, ayuda a prevenir la lesión secundaria.
</p>
<p>
    <strong>Reducción de edemas:</strong>
</p>
<p>
    Los vasos sanguíneos se contraen y reducen el flujo sanguíneo.
</p>
<p>
    <strong>Eliminación de la fatiga:</strong>
</p>
<p>
    Los vasos sanguíneos se contraen temporalmente.
</p>
<p>
    Se produce una aceleración más rápida del ácido láctico.
</p>
<p>
    <strong>Regreso rápido a la actividad deportiva:</strong>
</p>
<p>
    Desensibiliza temporalmente la zona afectada.
</p>
<p>
    Facilita la ejecución de ejercicios de reeducación.
</p>
                </div>
              

    <div class="col-md-6 ">  
<p>
    <strong>EL PROTOCOLO CRICER</strong>
</p>
<p>
    (CRIoterapia, Compresión, Elevación y Reposo) es eficaz en la fase aguda de la lesión. Este protocolo consiste en aplicar un tratamiento que consiste en
    cuatro etapas:
</p>

 <div class="post-image"><img src="/static/images/lesiones/protocolo.PNG" alt="" ><a href="/static/images/lesiones/protocolo.PNG" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>

<p>
    1 - HIELO (CRIOTERAPIA): Aliviar el edema, el dolor y las contracturas musculares enfriando la zona afectada.
</p>
<p>
    2 - COMPRESIÓN: Evitar la propagación del edema y disminuir el dolor a través de una apropiada compresión de la zona. Preguntar a la persona lesionada si
    el nivel de compresión es el adecuado.
</p>
<p>
    3- ELEVACIÓN: Elevar la zona lesionada respecto al corazón para evitar la hinchazón.
</p>
<p>
    4- REPOSO : En caso de lesión, es conveniente permanecer en reposo sentándose en el suelo o en una silla para no agravar la lesión.
</p>







              </div>
            
              <div class="clearfix"></div>



              
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
