  <div class="boxwrap white-bg pad-bottom30">
    <div class="page-index">
      <div class="container">
        <ul>
          <li><a href="index.html">Marca</a></li>
          <li><strong class="blue">Historia</strong></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 rightbar">
          <div class="blog_wrap">
            <div class="post_details">
              <div class="post_content">
               
                <div class="meta_space">
                  <div class="post_date"><span>03</span>Jan 2014</div>
                  
               
                </div>
            
                <div class="post-header">
                  <h3 class="post-title"><a href="#">Entrega del testigo: del pasado al futuro FIELES A NUESTROS VALORES</a></h3>
                </div>
                

                    <div class=" col-sm-12 post_content">
                      
                <p align="justify">Hay dos ejes fundamentales que siempre han guiado a nuestra marca: 
El primero es nuestra doble visión médica y deportiva, única en el mercado.</p> 
<p align="justify">Médica, porque los productos se apoyan en la experiencia de un grupo especialista en ortesis, en colaboración con médicos deportivos y fisioterapeutas. </p> 
<p align="justify">Deportiva, debido a las estrechas relaciones que nuestra marca mantiene con deportistas de alto nivel, entrenadores y preparadores físicos, lo que nos permite comprender sus expectativas y exigencias en términos de rendimiento, libertad de movimiento y confort.
<p align="justify">El segundo eje es un trabajo de investigación permanente con el objetivo de aportar las mejores soluciones técnicas, basado en el desarrollo de materiales, el diseño y procesos de fabricación innovadores.</p> 
<p align="justify">ZAMST que ya ha rebasado su 20º aniversario. 20 años en los que estos fundamentos, no han cesado en su desarrollo y en su enriquecimiento, para definir el ADN de la marca. ADN que condiciona de manera inmutable el desarrollo de nuestros futuros productos.
</p> 
              </div>
<div class="col-md-12 col-sm-6">
<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  <div class="post-image"><img src="/static/images/historia/bota.png" alt="" ><a href="/static/images/historia/bota.png" data-fancybox-group="featured" class="zoomic fancybox" title="What is Lorem Ipsum?"><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>ZAMST – ORIGEN E HISTORIA DE UNA MARCA</b></h5> <br>
<p align="justify">Nacida del grupo médico NIPPON SIGMAX, líder en Japón de ortopedia médica, ZAMST tiene la vocación de proteger a los deportistas, con toda la eficacia de las ortesis médicas, respetando la libertad de movimiento y las exigencias del deporte. Una vuelta sobre la evolución de la marca.</p> 
</div>
                    </div>
<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  <div class="post-image"><img src="/static/images/historia/tobillera2.png" alt="" ><a href="/static/images/historia/tobillera2.png" data-fancybox-group="featured" class="zoomic fancybox" title="What is Lorem Ipsum?"><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>TODO EMPEZÓ CON UNA TOBILLERA MÉDICA</b></h5> <br>
<p align="justify">En ese momento, los modelos que había en el mercado eran de lazo o cosidos. ZAMST fue  el primer fabricante que concibió un modelo innovador, con un exoesqueleto integrado.</p> 
</div>
                    </div>
</div>
<div class="col-md-12 col-sm-6">

<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  <div class="post-image"><img src="/static/images/historia/1991.png" alt="" ><a href="/static/images/historia/1991.png" data-fancybox-group="featured" class="zoomic fancybox" title="What is Lorem Ipsum?"><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>1991: El equipo nacional japonés de voleibol adopta un producto como prevención.</b></h5> <br>
<p align="justify">“¿Y si los jugadores pudiesen llevar una tobillera mientras juegan para evitar lesiones?”
Por tanto, ZAMST, nace gracias a la idea del Doctor del equipo nacional japonés de voleibol. Empezamos en ese momento un proceso de investigación y desarrollo, para obtener un producto lo más sólido y resistente posible, teniendo en cuenta las exigencias extremadamente fuertes del deporte de alto nivel, tanto en partidos como en entrenamientos.
</p> 
</div>
                    </div>


<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">

                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>1992: Las tobilleras ZAMST bajo el punto de mira, gracias al rendimiento del equipo nacional en los Juegos Olímpicos de Barcelona (6os).</b></h5> <br>
<p align="justify">La cobertura mediática del evento, prestó atención sobre esta nueva tobillera, ya que todos los jugadores del equipo la llevaban. Para afrontar la demanda de lo que no era más que un prototipo, NIPPON SIGMAX se lanzó en el mercado deportivo. ¡Una gran aventura para la marca médica!</p> 
</div>
                    </div>
</div>
<div class="col-md-12 col-sm-6">
<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  <div class="post-image"><img src="/static/images/historia/1993.png" alt="" ><a href="/static/images/historia/1993.png" data-fancybox-group="featured" class="zoomic fancybox" title="What is Lorem Ipsum?"><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>1993: ZAMST "Athlete Saver" el nacimiento </b></h5> <br>
<p align="justify">Es el año del verdadero nacimiento de la marca ZAMST. Objetivo: proteger a los deportistas, bajo el eslogan « Athlete Saver ».</p> 
</div>
                    </div>
<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  <div class="post-image"><img src="/static/images/historia/1994.png" alt="" ><a href="/static/images/historia/1994.png" data-fancybox-group="featured" class="zoomic fancybox" title="What is Lorem Ipsum?"><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>1994: Inicio de las actividades de educación, presentación de producto a los deportistas (de alto nivel, universidad y escuelas). </b></h5> <br>
<p align="justify">Los deportistas de élite, constantemente expuestos a sufrir lesiones, entienden perfectamente el concepto de prevención. En 1994, ZAMST establece un programa educativo para las escuelas y los clubs para difundir el mensaje de la prevención, aprendido por los deportistas.</p> 
</div>
                    </div>

</div>
<div class="col-md-12 col-sm-6">
<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">

                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>1995: La tobillera A2, producto faro de la gama, se rediseña totalmente. </b></h5> <br>
<p align="justify">Concebida para responder a condiciones de entrenamiento muy exigentes, la A2 se rediseñó en 1995, para obtener un mayor nivel de sujeción. Desde esa época, ha sufrido 4 remodelaciones completas en 7 años.</p> 
</div>
                    </div>


<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>1996: Con la mejora de los productos, sus nombres han ido evolucionando para corresponder a una gama.</b></h5> <br>
<p align="justify">Igual que la imagen de la tobillera A2 (A por Ankle), las rodilleras también han sido rediseñadas y su nombre ha pasado a ser KW (Knee Wrap). En 2000, las fajas lumbares fueron revisadas totalmente y la gama pasó a llamarse ZW (Zamst Waist).</p> 
</div>
                    </div>
</div>
<div class="col-md-12 col-sm-6">
<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  <div class="post-image"><img src="/static/images/historia/2002.png" alt="" ><a href="/static/images/historia/2002.png" data-fancybox-group="featured" class="zoomic fancybox" title="What is Lorem Ipsum?"><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>2002: Desarrollo de un sistema de crioterapia compresivo.</b></h5> <br>
<p align="justify">¡Se trataba de integrar fácilmente la crioterapia como estrategia preventiva!
El mismo año, desarrollo de productos específicos para deporte de raqueta.
</p> 
</div>
                    </div>


<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>2008: Adaptación de los productos. </b></h5> <br>
<p align="justify">Internacionalización de la marca: adaptación de los productos a la anatomía de europeos y americanos. Modificación de los diseños y los moldes sobre la base de medidas recogidas en el seno de STC (Sigmax Technology Center).</p> 
</div>
                    </div>
</div>
<div class="col-md-12 col-sm-6">
<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>2009-2011: Lanzamiento de ZAMST en Europa, Estados Unidos y China. </b></h5> <br>

</div>
                    </div>

<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>2012: Innovación: síndrome de la cintilla iliotibial en el corredor. </b></h5> <br>
<p align="justify">Desarrollo de la rodillera RK-1, respuesta única a una problemática muy extendida entre los corredores (20%): el TFL.</p> 
</div>
                    </div>
</div>
<div class="col-md-12 col-sm-6">
<div class="col-md-6 col-sm-6">
<div class="col-md-3 col-sm-6">
  
                    </div>

<div class="col-md-9 col-sm-6">
              <h5><b>2014 Nueva generación de rodilleras </b></h5> <br>
<p align="justify">beneficiándose de un proceso único que permite integrar las proteínas de la soja a las fibras textiles, recubriendo el interior del producto, para un contacto con la piel más agradable.</p> 
</div>
                    </div>
</div>




             
              </div>

              <div class="clearfix"></div>
              
            </div>
          </div>
        </div>
     
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
