    <div class="boxwrap white-bg pad-bottom30">
    <div class="page-index">
      <div class="container">
<h1 class="title"><strong>Innovación</strong></h1>
<br><br>

      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">

<ul class="technologies-list" id="technologies-list">
	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info1">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/11721_exo-grid-xternal.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Exo-Grid (Xternal)   <br></div>
    

   <div style="display:none;">
        <div id="info1" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/11721_exo-grid-xternal.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Exo-Grid (Xternal)</div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Dos ferulas moldeadas de apoyo exterior, (medial y lateral / eversión e inversión), para ofrecer una estabilidad perfecta.
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info2">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/5302_x-strap-stabilizer.png" border="0" />
        </div>
    </a>
    
   <div class="titt">X-Correa estabilizadora</div>
    
   <div style="display:none;">
        <div id="info2" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/5302_x-strap-stabilizer.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">X-Correa estabilizadora</div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Proporciona 3 tipos de sujeción, anterior, lateral y medial.
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info3">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/9238_grip-tech.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Grip Tech</div>
    
   <div style="display:none;">
        <div id="info3" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/9238_grip-tech.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Grip Tech</div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Correa antideslizante en estireno que evita el desplazamiento durante la actividad.
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info4">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/30506_a-fit.png" border="0" />
        </div>
    </a>
    
   <div class="titt">a-Fit</div>
    
   <div style="display:none;">
        <div id="info4" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/30506_a-fit.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">a-Fit</div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Soporte anatómicamente perfecto para el tobillo derecho o izquierdo / rodilla.
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info5">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/24360_exo-grid-internal.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Exo-Grid (interno)</div>
    
   <div style="display:none;">
        <div id="info5" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/24360_exo-grid-internal.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Exo-Grid (interno)</div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Dos insertos estabilizadores anatómicamente perfectos proporcionan la estabilidad medial y lateral.
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info6">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/14117_y-strap-stabilizer.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Y-Correa estabilizadora </div>
    
   <div style="display:none;">
        <div id="info6" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/14117_y-strap-stabilizer.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Y-Correa estabilizadora </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Proporciona 2 tipos de sujeción, para inversión y estabilidad lateral.
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info7">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/10023_l-strap-stabilizer.png" border="0" />
        </div>
    </a>
    
   <div class="titt">L-Correa estabilizadora</div>
    
   <div style="display:none;">
        <div id="info7" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/10023_l-strap-stabilizer.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">L-Correa estabilizadora</div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Proporciona estabilidad lateral y restringe los esguinces de inversión.
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info8">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/19382_f8-strap-stabilizer.png" border="0" />
        </div>
    </a>
    
   <div class="titt">F-8 Correa estabilizadora </div>
    
   <div style="display:none;">
        <div id="info8" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/19382_f8-strap-stabilizer.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">F-8 Correa estabilizadora </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Las correas cruzadas con cierres de velcro proporcionan una compresión anterior, lateral y medial perfecta
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info9">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/16256_heel-lock-tech.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Heel Lock Tech </div>
    
   <div style="display:none;">
        <div id="info9" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/16256_heel-lock-tech.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Heel Lock Tech </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Asegura un ajuste adecuado y una mayor estabilización del talón
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info10">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/19891_a-strap.png" border="0" />
        </div>
    </a>
    
   <div class="titt">A-Correa </div>
    
   <div style="display:none;">
        <div id="info10" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/19891_a-strap.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">A-Correa </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Correa Taping externa que limita la extensión del tendón de Aquiles
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info11">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/8257_exo-tech-quad.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Exo-Tech QUAD </div>
    
   <div style="display:none;">
        <div id="info11" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/8257_exo-tech-quad.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Exo-Tech QUAD </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Fijación para cuatro vias de ligamento (LCA/ LLI / LLP / LLE), apoyo con ajuste individualizado y diseño multifuncional
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info12">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/16898_exo-tech-dual.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Exo-Tech DUAL </div>
    
   <div style="display:none;">
        <div id="info12" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/16898_exo-tech-dual.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Exo-Tech DUAL </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Fijación para dos vías de ligamento (LLP / LLE), apoyo con ajuste individualizado y diseño multifuncional
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info13">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/7904_v-tech.png" border="0" />
        </div>
    </a>
    
   <div class="titt">V-Tech </div>
    
   <div style="display:none;">
        <div id="info13" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/7904_v-tech.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">V-Tech </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Ventilada fluya a través del diseño, la máquina mantiene fresco en movimiento
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info14">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/11724_i-fit.png" border="0" />
        </div>
    </a>
    
   <div class="titt">i-Fit </div>
    
   <div style="display:none;">
        <div id="info14" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/11724_i-fit.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">i-Fit </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Diseño de cierres ajustables para una compresión variable que proporciona  una fijación comoda e individualizada
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info15">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/30315_flyweight.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Flyweight </div>
    
   <div style="display:none;">
        <div id="info15" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/30315_flyweight.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Flyweight </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Fabricación con materiales que ofrecen un producto muy ligero
</div>
        </div>
   </div> 
    
   </li>
    
    	<li  class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info16">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/31432_rom-tech.png" border="0" />
        </div>
    </a>
    
   <div class="titt">ROM Tech </div>
    
   <div style="display:none;">
        <div id="info16" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/31432_rom-tech.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">ROM Tech </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Gama completa de movimiento, diseño anatómico que garantiza un rendimiento máximo
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info17">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/6541_knee-cap-stabilizer.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Cap Knee Stabilizer </div>
    
   <div style="display:none;">
        <div id="info17" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/6541_knee-cap-stabilizer.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Cap Knee Stabilizer </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Sostiene la rótula en su lugar mientras está en movimiento
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info18">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/17441_3d-body-map.png" border="0" />
        </div>
    </a>
    
   <div class="titt">3-D Body Mapping Analizador </div>
    
   <div style="display:none;">
        <div id="info18" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/17441_3d-body-map.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">3-D Body Mapping Analizador </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">217 mediciones tridimensionales del cuerpo humano para asegurar un diseño de ingeniería para nuestros productos
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info19">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/21510_motion-simulator.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Simulador de análisis de movimiento </div>
    
   <div style="display:none;">
        <div id="info19" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/21510_motion-simulator.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Simulador de análisis de movimiento </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Analiza la movilidad del tobillo y estabilidad espacio multi-dimensional para asegurar un rendimiento óptimo del producto 
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info20">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/9003_thermo-analysis.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Thermo Analysis </div>
    
   <div style="display:none;">
        <div id="info20" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/9003_thermo-analysis.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Thermo Analysis </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Análisis de nuestros productos en plena actividad para garantizar el máximo confort con un mejor rendimiento durante la competición
</div>
        </div>
   </div> 
    
   </li>
    
    	<li class="col-md-2 col-sm-12">
    
	<a class="inline" href="#info21">
    	<div class="img-container">
        	<img src="http://www.hso2.com/photos/temp/11778_newton-force-analyzer.png" border="0" />
        </div>
    </a>
    
   <div class="titt">Newton Force Analycer </div>
    
   <div style="display:none;">
        <div id="info21" style="margin: 20px;">
           <div style="width: 300px; text-align: center; display: block;"><img src="http://www.hso2.com/photos/temp/11778_newton-force-analyzer.png" border="0" /></div>
           <div style="width: 300px; text-align: center; display: block; font-weight:bold; margin: 20px 0;">Newton Force Analycer </div>
           <div style="width: 300px; text-align: center; display: block;" class="txt1j">Análisis Newton de fuerza en las rodillas para asegurar que el producto cumple tanto a nivel preventivo como estabilizador
</div>
        </div>
   </div> 
    
   </li>
    
    
</ul>
</div>


</div><!--content-2-->
</div><!--content-container-2-->

