  <div class="boxwrap white-bg pad-bottom30">
    <div class="page-index">
      <div class="container">
        <ul>
          <li><a href="index.html">Expertice</a></li>
          <li><strong class="blue">Lesiones</strong></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 rightbar">
          <div class="blog_wrap">
            <div class="post_details">
              <div class="post_content">
               
                <div class="meta_space">
                  <div class="post_date"><span>03</span>Jan 2014</div>
                  
               
                </div>
            
                <div class="post-header">
                  <h3 class="post-title"><a href="#">Lesiones </a></h3>
                </div>
                

                  
             
             <div class=" col-sm-12 ">
             <div class="col-md-3 col-sm-6">
       
                      <div class="post-image"><a href="/Lesiones/Espalda"><img src="/static/images/calidad/1.png" alt="" ><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    


             
                      
                      <h5>Espalda</h5> <br>
                <p align="justify">La lumbalgia común, también llamada “mal del siglo”, es el dolor de espalda que padece o padecerá el s de 80% de nosotros, no sólo los deportistas.</p> 
           
      
            </div>

               <div class="col-md-3 col-sm-6">
                      <div class="post-image"><a href="/Lesiones/Hielo" ><img src="/static/images/lesiones/hielo.png" alt="" ><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    
                      
                      <h5>Hielo</h5> <br>
                <p align="justify">La crioterapia, (aplicación terapéutica del frío a través de distintos medios: hielo, agua fría, toalla húmeda, nitrógeno, CO2…) se utiliza de forma extendida en traumatología deportiva.</p> 
            

  </div>
             <div class="col-md-3 col-sm-6">
                      <div class="post-image"><a href="/Lesiones/Pie" ><img src="/static/images/lesiones/Calcetin.PNG" alt="" ><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    
                      
                      <h5>Pie</h5> <br>
                <p align="justify">El arco plantar tiene una función amortiguadora y reparte la carga por el pie de manera uniforme, absorbiendo los impactos. </p> 
              
  </div>

<div class="col-md-3 col-sm-6">
                      <div class="post-image"><a href="/Lesiones/Rodilla-Ligamento" ><img src="/static/images/lesiones/RODILLERA.PNG" alt="" ><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
               
                      
                      <h5>Rodilla de ligamento</h5> <br>
                <p align="justify">Esguince de los ligamentos de rodilla La rodilla es una articulación que tiene una demanda muy elevada en todos los deportes, y el riesgo de esguince es elevado.</p> 
 
  </div>
    </div >

    <div class=" col-sm-12 ">
<div class="col-md-3 col-sm-6">
                      <div class="post-image"><a href="/Lesiones/Rodilla-saltador" ><img src="/static/images/lesiones/RODILLERA2.PNG" alt="" ><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>

                      
                      <h5>Rodilla del saltador</h5> <br>
                <p align="justify">Una de las patologías frecuentes en los deportes de salto y carrera es la rodilla de saltador. Se trata de una tendinopatía del tendón rotuliano, tendón que une la tibia a la rótula en prolongación del cuádriceps.</p> 
             
  </div>
<div class="col-md-3 col-sm-6">
                      <div class="post-image"><a href="/Lesiones/Rodilla-TFL" ><img src="/static/images/lesiones/RODILLERA3.PNG" alt="" ><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                 
                      
                      <h5>Rodilla TFL</h5> <br>
                <p align="justify">Este síndrome, a veces llamado rodilla del corredor es una patología muy extendida e invalidante entre los que practican la carrera a pie.</p> 
              </div>

<div class="col-md-3 col-sm-6">
                      <div class="post-image"><a href="/Lesiones/Tobillo" ><img src="/static/images/lesiones/tobillera.PNG" alt="" ><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
    
                      
                      <h5>Tobillo</h5> <br>
                <p align="justify">El esguince de tobillo (¡diariamente se producen unos 6000 en Francia!) se produce en el ligamento lateral externo en el 90% de los casos. Se produce después de realizar un movimiento forzado en inversión y, sólo un 10% de los casos, en eversión.</p> 
              </div>

                    </div>  </div>

              <div class="clearfix"></div>
              
            </div>
          </div>
        </div>
     
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
