  <div class="boxwrap white-bg pad-bottom30">
    <div class="page-index">
      <div class="container">
        <ul>
          <li><a href="index.html">Marca</a></li>
          <li><strong class="blue">Concepto</strong></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 rightbar">
          <div class="blog_wrap">
            <div class="post_details">
              <div class="post_content">
               
                <div class="meta_space">
                  <div class="post_date"><span>03</span>Jan 2014</div>
                  
               
                </div>
            
                <div class="post-header">
                  <h3 class="post-title"><a href="#">LÉXICO</a></h3>
                </div>
                

                    <div class=" col-sm-12 post_content">
                      

<p>
    <strong>Ácido láctico</strong>
    : Ácido orgánico contenido en el músculo, que tiene un papel fundamental en la producción de energía
</p>
<p>
    <strong>Arco plantar</strong>
    : Arco formado por huesos, músculos y ligamentos del pie y cuya función es amortiguadora.
</p>
<p>
    <strong>Calambre</strong>
    : Contractura brusca, involuntaria y pasajera de un músculo.
</p>
<p>
    <strong>Compresión</strong>
    : Acción de comprimir un músculo, parte de un miembro o articulación con un objetivo terapéutico.
</p>
<p>
    <strong>Contractura</strong>
    : Contracción muscular involuntaria de una duración no demasiado larga.
</p>
<p>
    <strong>CRICER</strong>
    : Protocolo en 4 etapas (CRIoterapia – Compresión Elevación – Reposo), que favorece la cicatrización y reduce la hinchazón. También llamada RICE.
</p>
<p>
    <strong>Crioterapia</strong>
    : Terapia a través del frío.
</p>
<p>
    <strong>Cuádriceps</strong>
    : Grupo muscular situado en la parte anterior del muslo responsable de la extensión de la rodilla.
</p>
<p>
    <strong>Distensión</strong>
    : Rotura parcial o total de las fibras de un músculo.
</p>
<p>
    <strong>Estabilización</strong>
    : Acción de estabilizar, de manera natural (fortalecimiento, reequilibrio,…) o mecánica (vendaje, ortesis,…) una articulación.
</p>
<p>
    <strong>Eversión</strong>
    : Acción de girar el pie hacia el exterior.
</p>
<p>
    <strong>Inversión</strong>
    : Acción de girar el pie hacia el interior.
</p>
<p>
    <strong>Jumper’s knee</strong>
    : (Rodilla de saltador): tendinopatía en la inserción alta o baja del tendón rotuliano.
</p>
<p>
    <strong>Ligamento</strong>
    : Fascículo de fibras que enlaza los huesos en las articulaciones (función estabilizadora).
</p>
<p>
    <strong>LCA</strong>
    : Ligamento Cruzado Anterior – Rodilla. Une el fémur a la tibia, evitando que la tibia se desplace hacia delante. En caso de rotura, se habla de “cajón
    anterior”, ya que la tibia no se frena, y avanza sobre la rótula, friccionando el menisco.
</p>
<p>
    <strong>LLI</strong>
    : Ligamento Lateral Interno – Rodilla y tobillo
</p>
<p>
    <strong>LLE</strong>
    : Ligamento Lateral Externo – Rodilla y tobillo
</p>
<p>
    <strong>LCP</strong>
    : Ligamento Cruzado Posterior – Rodilla. Une fémur y tibia y evita que la tibia se desplace hacia atrás. En caso de rotura, se habla de “cajón posterior”,
    ya que la tibia no se frena y recula bajo la rótula, friccionando con el menisco.
</p>
<p>
    <strong>Lumbalgia</strong>
    : Dolor de origen mecánico de la región lumbar.
</p>
<p>
    <strong>Luxación</strong>
    : Pérdida de contacto total de las superficies articulares de una articulación.
</p>
<p>
    <strong>Menisco</strong>
    : Fibro-cartilago situado entre las superficies articulares de la rodilla que juega un papel amortiguador.
</p>
<p>
    <strong>Osgood Schlatter</strong>
    : Patología caracterizada por dolor en la inserción baja del tendón rotuliano en la zona de la tuberosidad tibial anterior. Frecuente en los deportistas
    adolescentes.
</p>
<p>
    <strong>Propiocepción</strong>
    : Capacidad de reacción de una articulación frente a un desequilibrio y una pérdida de tono muscular.
</p>
<p>
    <strong>R.I.C.E</strong>
    : Protocolo en 4 etapas (Reposo – Icing (Hielo) – Compresión Elevación), para favorecer la cicatrización y reducir la hinchazón. También llamado CRICER.
</p>
<p>
    <strong>Rótula</strong>
    : Hueso situado en la cara anterior de la rodilla.
</p>
<p>
    <strong>Sacro ilíaca</strong>
    : Articulación de la cadera que hace de base a la columna vertebral.
</p>
<p>
    <strong>Tendinitis</strong>
    : Inflamación del tendón.
</p>
<p>
    <strong>Tendinopatía</strong>
    : Patología tendinosa de origen inflamatorio o no (mecánico).
</p>
<p>
    <strong>Tendón</strong>
    : Estructura anatómica que une el músculo al hueso.
</p>
<p>
    <strong>Tuberosidad tibial</strong>
    : Punto de inserción del tendón rotuliano sobre la tibia.
</p>
             
              </div></div>

              <div class="clearfix"></div>
              
            </div>
          </div>
        </div>
     
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
