  <div class="boxwrap white-bg pad-bottom30">

    <div class="clearfix"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 rightbar">
          <div class="blog_wrap">
            <div class="post_details">
              <div class="post_content">
               
                <div class="meta_space">
                  <div class="post_date"><span>03</span>Jan 2014</div>
                  
               
                </div>
            
                <div class="post-header">
                  <h3 class="post-title"><a href="#">ZAMST en el mundo desde más de 20 años</a></h3>
                </div>
                
                  <div class="col-md-12 col-sm-6">
       
                      <div class="post-image"><img src="/static/images/mapa/mapa.PNG" alt="" ><a href="/static/images/mapa/mapa.PNG" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>

                    <div class=" col-sm-12 post_content">
                      
                <p align="justify">  ZAMST es una marca del grupo NIPPON SIGMAX, líder en Japón del mercado de la ortopedia desde 1973. Creada en 1993, ZAMST se beneficia de toda la experiencia médica del grupo, de su experiencia y de sus técnicas rigurosas de fabricación.
NIPPON SIGMAX tiene filiales en los mercados asiáticos, europeos y americanos:
 </p> 
              </div>
            



              <div class="col-md-3 col-sm-6">
       
                      <div class="post-image"><img src="/static/images/mapa/Europa.PNG" alt="" ><a href="/static/images/mapa/Europa.PNG" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>

                     <div class="col-md-3 col-sm-6">
       
                      <div class="post-image"><img src="/static/images/mapa/usa.PNG" alt="" ><a href="/static/images/mapa/usa.PNG" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>

                       <div class="col-md-3 col-sm-6">
       
                      <div class="post-image"><img src="/static/images/mapa/japon.PNG" alt="" ><a href="/static/images/mapa/japon.PNG" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>
                    <div class="col-md-3 col-sm-6">
       
                      <div class="post-image"><img src="/static/images/mapa/china.PNG" alt="" ><a href="/static/images/mapa/china.PNG" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    </div>
             
              </div>

              <div class="clearfix"></div>
              
            </div>
          </div>
        </div>
     
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
