  <div class="boxwrap white-bg pad-bottom30">
    <div class="page-index">
      <div class="container">
        <ul>
          <li><a href="index.html">Marca</a></li>
          <li><strong class="blue">Marca</strong></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-9 rightbar">
          <div class="blog_wrap">
            <div class="post_details">
              <div class="post_content">
                 <div class="post-header">
                  <h3 class="post-title"><a href="#">Zamst</a></h3>
                </div>
                <div class="meta_space">
                  <div class="post_date"><span>03</span>Jan 2014</div>
                </div>
              

       
 <p> <strong>Zamst</strong> es precisión, tecnología de soporte que refuerza y ​​protege a los deportistas de élite de todo el mundo, ofreciéndoles la ayuda y protección que necesita su cuerpo para llegar más lejos y más rápido.</p>
<p>
  <strong>Zamst </strong>es una sofisticada ayuda para una nueva generación de atletas. Construido sobre una amplia base de conocimientos en el campo de la medicina, que entiende al cuerpo humano, y lo más importante sus limitaciones.</p>
<p>
  Los productos <strong>ZAMST</strong> están desarrollados sobre la base del conocimiento y de la tecnología que son nuestro fuerte en ortopedia, garantizando de esta manera, su eficacia. Además, tenemos en cuenta las altas exigencias del deporte, que son: confort, ligereza, libertad de movimiento, durabilidad y facilidad de utilización. Es lo hace que nuestros productos sean muy conocidos entre los deportistas profesionales de todo el mundo.</p>
<p>
  Somos líderes en productos tecnologícamente pensados para la prevención de lesiones.</p>
<p>
  <strong>Zamst </strong>es Estructura. <strong>Zamst</strong> es Refuerzo.</p>

              </div>
            
              <div class="clearfix"></div>
              
            </div>
          </div>
        </div>
        <div class="col-md-3 leftbar">
          
          <div class="clearfix"></div>
          <div class="leftbox">
            <h3 class="title"><strong>Encuentranos en </strong> Facebook</h3>
            <div class="facebookwrap">
              <iframe id="fbframe" src="////www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fzamstchile&amp;width=230&amp;height=300&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=467334619951816"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
