  <div class="boxwrap white-bg pad-bottom30">
    <div class="page-index">
      <div class="container">
        <ul>
          <li><a href="index.html">Expertice</a></li>
          <li><strong class="blue">Procesos</strong></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 rightbar">
          <div class="blog_wrap">
            <div class="post_details">
              <div class="post_content">
               
                <div class="meta_space">
                  <div class="post_date"><span>03</span>Jan 2014</div>
                  
               
                </div>
            
                <div class="post-header">
                  <h3 class="post-title"><a href="#">LOS PROCESOS DE ZAMST</a></h3>
                </div>
                

                    <div class=" col-sm-12 post_content">
                      
                <p align="justify">Para proteger el cuerpo de los deportistas y permitirles una práctica con confianza, ZAMST busca sin cesar la excelencia en términos de funcionalidad y de calidad en sus productos. Los ingenieros de ZAMST ponen el acento sobre la innovación y la experimentación para desarrollar productos que aporten el mayor rendimiento posible. Se realizan numerosos tests con aparatos de alta tecnología, de manera interna, en el seno de STC (Sigmax Technologie Center), o en colaboración con centros de investigación exteriores.</p> 
              </div>
             
             <div class=" col-sm-12 ">
             <div class="col-md-3 col-sm-6">
       
                      <div class="post-image"><img src="/static/images/calidad/1.png" alt="" ><a href="/static/images/calidad/1.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    


             
                      
                      <h5>APARATO ANATÓMICO 3D</h5> <br>
                <p align="justify">Toma de medidas (217) del cuerpo humano en tres dimensiones lo que permite un diseño de producto preciso y adaptado a las distintas.</p> 
           
      
            </div>

               <div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/2.png" alt="" ><a href="/static/images/calidad/2.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    
                      
                      <h5>PROTOTIPOS</h5> <br>
                <p align="justify">Unión de los distintos componentes y materiales. Este es el inicio de otra serie de tests con el objeto de evaluar el diseño, la funcionalidad y el rendimiento de los prototipos creados.</p> 
            

  </div>
             <div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/3.png" alt="" ><a href="/static/images/calidad/3.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                    
                      
                      <h5>CONCEPCIÓN DEL PATRÓN</h5> <br>
                <p align="justify">Concepción asistida por ordenador, basada en todos los resultados anatómicos recogidos.</p> 
              
  </div>

<div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/4.png" alt="" ><a href="/static/images/calidad/4.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
               
                      
                      <h5>TEST DE TRANSPIRABILIDAD</h5> <br>
                <p align="justify">Test de diversos materiales, para definir el más apropiado para cada parte de producto.</p> 
 
  </div>
    </div >
    <div class=" col-sm-12 ">

<div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/5.png" alt="" ><a href="/static/images/calidad/5.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                      
                      <h5>TEST DE RESISTENCIA A LA LUZ</h5> <br>
                <p align="justify">Los materiales se someten a radiaciones específicas para testar la resistencia a la luz del sol (aspecto, decoloración, deformación,…).</p> 
      
  </div>
<div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/6.png" alt="" ><a href="/static/images/calidad/6.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
            
                      
                      <h5>TEST DE ESTIRAMIENTO</h5> <br>
                <p align="justify">Evaluación del nivel de flexibilidad y de resistencia de los materiales.</p> 
       
  </div>
 <div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/7.png" alt="" ><a href="/static/images/calidad/7.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                 
                      
                      <h5>TEST DE DEFORMACIÓN</h5> <br>
                <p align="justify">Aplicación de una fuerza progresiva para testar la resistencia de los materiales a la deformación. Test aplicado especialmente a los refuerzos de resina.</p> 
            
  </div>
<div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/8.png" alt="" ><a href="/static/images/calidad/8.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                      
                      <h5>TEST DE IMPACTO</h5> <br>
                <p align="justify">Medida de la resistencia de los materiales a un impacto exterior.</p> 
<p align="justify">Los refuerzos y las protecciones de las tobilleras ZAMST se someten a este riguroso test.
</p> 
          
  </div>
  </div >
    <div class=" col-sm-12 ">
<div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/9.png" alt="" ><a href="/static/images/calidad/9.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>

                      
                      <h5>DURABILIDAD</h5> <br>
                <p align="justify">Verificación de la duración de la vida de los materiales en condiciones particulares de calor y humedad.</p> 
             
  </div>
<div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/10.png" alt="" ><a href="/static/images/calidad/10.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
                 
                      
                      <h5>TERMOGRAFÍA</h5> <br>
                <p align="justify">Medida de la evolución de la temperatura del cuerpo cuando llevamos las protecciones ZAMST.</p> 
              </div>

<div class="col-md-3 col-sm-6">
                      <div class="post-image"><img src="/static/images/calidad/11.png" alt="" ><a href="/static/images/calidad/11.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>
    
                      
                      <h5>SIMULACIÓN DE MOVIMIENTOS</h5> <br>
                <p align="justify">Tobillera colocada sobre un pie artificial equipado de sensores que evalúan la movilidad y estabilidad del tobillo en todas las direcciones.</p> 
              </div>

                    </div>  </div>

              <div class="clearfix"></div>
              
            </div>
          </div>
        </div>
     
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
