  <div class="boxwrap white-bg pad-bottom30">
    <div class="page-index">
      <div class="container">
        <ul>
          <li><a href="index.html">Medicos</a></li>
          <li><strong class="blue">Detalle</strong></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">



        <div class="col-md-12">
          <div class="blog_wrap">
            <div class="post_details">
              <div class="post_content">
                 <div class="post-header">
                  <h3 class="post-title"><a href="#">RODILLA: TFL</a></h3>
                </div>
                <div class="meta_space">
                  <div class="post_date"><span>03</span>Jan 2014</div>
                </div>
              

    
    <div class="col-md-7 ">   

    <div class="col-md-3 "> 
 <div class="post-image"><img src="/static/images/lesiones/RODILLA3.png" alt="" ><a href="/static/images/lesiones/RODILLA3.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>

</div>
    <div class="col-md-9 "> 
<p>
    <strong>LESIÓN:</strong>
</p>
<p>
    <strong>El síndrome de la cintilla iliotibial (TFL)</strong>
</p>
<p>
    Este síndrome, a veces llamado rodilla del corredor es una patología muy extendida e invalidante entre los que practican la carrera a pie.
</p>
<p>
    A cada zancada, la parte baja del tensor de la fascia lata (o TFL, músculo plano de la cara exterior del muslo) se desplaza delante y detrás como un
    limpiaparabrisas, friccionando en algunos casos, con el fémur, en la cara externa de la rodilla. Esto sucede cuando la rodilla está flexionada 30°C,y si la
    pierna está ligeramente rotada hacia el interior (punta del pie hacia adentro). La irritación debida a este repetido roce, origina el síndrome.
</p>
<p>
    <strong>SIGNOS Y SÍNTOMAS:</strong>
</p>
<p>
    El síndrome TFL es fácilmente reconocible:
</p>
<p>
    Dolor localizado en el lado externo de la rodilla, se activa después de 15 minutos de funcionamiento en general. Es tan intenso que obliga a detenerse
    rápidamente.
</p>
<p>
    Sin embargo, deja al cesar.
</p>

              
</div></div>
    <div class="col-md-5 ">  
<div class="col-md-12">
            <div class="newer-products">
              <h3 class="title"><strong>Soluciones </strong> Zamst</h3>
              <div class="control"><a id="prev_newer" class="prev" href="#">&lt;</a><a id="next_newer" class="next" href="#">&gt;</a></div>
              <ul id="newer" class="related3">
                <li>
                  <div class="row">
                   {% for i in range(1) %}
           
                  
                    <div class="col-md-6 col-sm-6">
                      <div class="products">
                          <div class="products-top">
                    <div class="thumbnail"> <img src="/static/images/productos/{{recomendados[i][0]}}.jpg" alt="Product Name"> </div>
                    <div class="productname">{{recomendados[i][1]}}</div>
                    <div class="overly"> <a href="/static/images/productos/{{recomendados[i][0]}}.jpg" data-fancybox-group="featured" class="fancybox veiwphoto" title="{{recomendados[i][1]}}"><i class="fa fa-picture-o">&nbsp;</i></a> <a href="/Producto/{{recomendados[i][0]}}-{{recomendados[i][1].replace("/"," ")}}"  class="linkdetail"><i class="fa  fa-link"></i></a>
                      <h3 class="overlyprice">${{('{:20,}'.format(recomendados[i][2])).replace(",",".")}}.-</h3>
                      <span class="overlyrating"> <i class="fa fa-star blue"></i><i class="fa fa-star blue"></i><i class="fa fa-star blue"></i><i class="fa fa-star-half-o blue"></i><i class="fa fa-star-o"></i> </span> </div>
                  </div>
                  <div class="products-bottom">
                    <h4 class="price">${{('{:20,}'.format(recomendados[i][2])).replace(",",".")}}.-</h4>
                    <p class="name">{{recomendados[i][1]}}</p>
                    <div class="button_group">
                      <button type="button" class="button" onclick="location.href='/Producto/{{recomendados[i][0]}}-{{recomendados[i][1]}}';">Ver producto</button>
                      
                      <button data-original-title="Favourite" data-placement="top" data-toggle="tooltip" class="tool button" type="button" onclick= "Agregar_carro({{recomendados[i][0]}})"> <i class="fa fa-shopping-cart"></i></button>
                    </div>
                        </div>
                      </div>
                    </div>
                  
            
                 {% endfor %}
                 </div>
                  
                </li>
                 
                
              </ul>
            </div>
          </div></div>
<div class="col-md-7 ">   
 <strong>LAS LESIONES DEL CORREDOR:</strong>
    <div class="col-md-4 "> 
 <div class="post-image"><img src="/static/images/lesiones/RODILLERA2.PNG" alt="" ><a href="/static/images/lesiones/RODILLERA2.PNG" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>

</div>
   <div class="col-md-8 "> 
    <br><br><br>
<p>
    Ampollas: 28,6%
</p>
<p>
    Rodilla: 22,3%
</p>
<p>
    Cintilla iliotibial: 16,9%
</p>
<p>
    Fascitis plantar: 12,8%
</p>
  </div>  </div>

            
              <div class="clearfix"></div>



              
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
