  <div class="boxwrap white-bg pad-bottom30">
    <div class="page-index">
      <div class="container">
        <ul>
          <li><a href="index.html">Medicos</a></li>
          <li><strong class="blue">Detalle</strong></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container">
      <div class="row">



        <div class="col-md-12">
          <div class="blog_wrap">
            <div class="post_details">
              <div class="post_content">
                 <div class="post-header">
                  <h3 class="post-title"><a href="#">TOBILLO</a></h3>
                </div>
                <div class="meta_space">
                  <div class="post_date"><span>03</span>Jan 2014</div>
                </div>
              

    
    <div class="col-md-7 ">   

    <div class="col-md-3 "> 
 <div class="post-image"><img src="/static/images/lesiones/tobillo.png" alt="" ><a href="/static/images/lesiones/tobillo.png" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>

</div>
    <div class="col-md-9 "> 
<p>
    <strong>LESIONES:</strong>
</p>

<p>
    <strong>Los esguinces</strong>
</p>
<p>
    El esguince de tobillo (¡diariamente se producen unos 6000 en Francia!) se produce en el ligamento lateral externo en el 90% de los casos. Se produce
    después de realizar un movimiento forzado en inversión y, sólo un 10% de los casos, en eversión.
</p>
<p>
    <strong>SIGNOS Y SÍNTOMAS:</strong>
</p>
<p>
    Distinguimos tres tipos de esguinces de tobillo (benigno, medio o grave), según el grado de lesión sufrida por el ligamento.
</p>
<p>
    Dolor, hinchazón e inestabilidad, varían según la gravedad del esguince.
</p>

              
</div></div>
    <div class="col-md-5 ">  
<div class="col-md-12">
            <div class="newer-products">
              <h3 class="title"><strong>Soluciones </strong> Zamst</h3>
              <div class="control"><a id="prev_newer" class="prev" href="#">&lt;</a><a id="next_newer" class="next" href="#">&gt;</a></div>
              <ul id="newer" class="related3">
                <li>
                  <div class="row">
                  {% for i in range(2) %}
           
                  
                    <div class="col-md-6 col-sm-6">
                      <div class="products">
                          <div class="products-top">
                    <div class="thumbnail"> <img src="/static/images/productos/{{recomendados[i][0]}}.jpg" alt="Product Name"> </div>
                    <div class="productname">{{recomendados[i][1]}}</div>
                    <div class="overly"> <a href="/static/images/productos/{{recomendados[i][0]}}.jpg" data-fancybox-group="featured" class="fancybox veiwphoto" title="{{recomendados[i][1]}}"><i class="fa fa-picture-o">&nbsp;</i></a> <a href="/Producto/{{recomendados[i][0]}}-{{recomendados[i][1].replace("/"," ")}}"  class="linkdetail"><i class="fa  fa-link"></i></a>
                      <h3 class="overlyprice">${{('{:20,}'.format(recomendados[i][2])).replace(",",".")}}.-</h3>
                      <span class="overlyrating"> <i class="fa fa-star blue"></i><i class="fa fa-star blue"></i><i class="fa fa-star blue"></i><i class="fa fa-star-half-o blue"></i><i class="fa fa-star-o"></i> </span> </div>
                  </div>
                  <div class="products-bottom">
                    <h4 class="price">${{('{:20,}'.format(recomendados[i][2])).replace(",",".")}}.-</h4>
                    <p class="name">{{recomendados[i][1]}}</p>
                    <div class="button_group">
                      <button type="button" class="button" onclick="location.href='/Producto/{{recomendados[i][0]}}-{{recomendados[i][1]}}';">Ver producto</button>
                      
                      <button data-original-title="Favourite" data-placement="top" data-toggle="tooltip" class="tool button" type="button" onclick= "Agregar_carro({{recomendados[i][0]}})"> <i class="fa fa-shopping-cart"></i></button>
                    </div>
                        </div>
                      </div>
                    </div>
                  
            
                 {% endfor %}
                 </div>
                  
                </li>
                 <li>
                  <div class="row">
                  {% for i in range(2,4) %}
           
                  
                    <div class="col-md-6 col-sm-6">
                      <div class="products">
                          <div class="products-top">
                    <div class="thumbnail"> <img src="/static/images/productos/{{recomendados[i][0]}}.jpg" alt="Product Name"> </div>
                    <div class="productname">{{recomendados[i][1]}}</div>
                    <div class="overly"> <a href="/static/images/productos/{{recomendados[i][0]}}.jpg" data-fancybox-group="featured" class="fancybox veiwphoto" title="{{recomendados[i][1]}}"><i class="fa fa-picture-o">&nbsp;</i></a> <a href="/Producto/{{recomendados[i][0]}}-{{recomendados[i][1].replace("/"," ")}}"  class="linkdetail"><i class="fa  fa-link"></i></a>
                      <h3 class="overlyprice">${{('{:20,}'.format(recomendados[i][2])).replace(",",".")}}.-</h3>
                      <span class="overlyrating"> <i class="fa fa-star blue"></i><i class="fa fa-star blue"></i><i class="fa fa-star blue"></i><i class="fa fa-star-half-o blue"></i><i class="fa fa-star-o"></i> </span> </div>
                  </div>
                  <div class="products-bottom">
                    <h4 class="price">${{('{:20,}'.format(recomendados[i][2])).replace(",",".")}}.-</h4>
                    <p class="name">{{recomendados[i][1]}}</p>
                    <div class="button_group">
                      <button type="button" class="button" onclick="location.href='/Producto/{{recomendados[i][0]}}-{{recomendados[i][1]}}';">Ver producto</button>
                      
                      <button data-original-title="Favourite" data-placement="top" data-toggle="tooltip" class="tool button" type="button" onclick= "Agregar_carro({{recomendados[i][0]}})"> <i class="fa fa-shopping-cart"></i></button>
                    </div>
                        </div>
                      </div>
                    </div>
                  
            
                 {% endfor %}
                 </div>
                  
                </li>
                
              </ul>
            </div>
          </div></div>
    <div class="col-md-12 ">         
    <div class="col-md-7 ">   
       
    <div class="col-md-4 "> 
 <div class="post-image"><img src="/static/images/lesiones/tobillera.PNG" alt="" ><a href="/static/images/lesiones/tobillera.PNG" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>

</div>
   <div class="col-md-8 "> 
<p>
    <strong>ESTABILIDAD EXTERNA</strong>
</p>
<p>
    Los ligamentos externos son los que se ven afectados más frecuentemente. En un 90% de los casos, los esguinces se producen por rotación del pie hacia el
    interior y hacia delante (inversión).
</p>
<p>
    <strong>ESTABILIDAD INTERNA</strong>
</p>
<p>
    El ligamento interno se ve afectado por un esguince en eversión, cuando el pie va hacia el exterior. Se da en un 10% de los casos.
</p>
  </div>  </div>

   <div class="col-md-5 "> 



  <p>
    <strong>Top 5</strong>
</p>
<p>
    <strong>De los deportes de mayor riesgo</strong>
</p>
<p>
    <strong>1 -</strong> Voleibol
</p>
<p>
    <strong>2 -</strong> Baloncesto
</p>
<p>
    <strong>3 -</strong> Running
</p>
<p>
    <strong>4 -</strong> Fútbol
</p>
<p>
    <strong>5 -</strong> Balonmano
</p>
</div></div>

    <div class="col-md-12">  
    <div class="col-md-7">  
      <div class="col-md-4 "> 
 <div class="post-image"><img src="/static/images/lesiones/LATOBILLERA.PNG" alt="" ><a href="/static/images/lesiones/LATOBILLERA.PNG" data-fancybox-group="featured" class="zoomic fancybox" title=""><i class="fa fa-search-plus"></i></a><i class="fa fa-picture-o pti"></i></div>

</div>
   <div class="col-md-8 "> 
<p>
    <strong>LA TOBILLERA SEGÚN ZAMST</strong>
</p>
<p>
    Cada uno de los elementos que componen nuestros productos tiene una función precisa. Están al servicio de la protección y de la mejora del rendimiento del
    deportista. Creamos productos adaptados a las necesidades específicas de cada deporte, respondiendo a las exigencias funcionales y anatómicas del cuerpo
    humano. ¡Esto garantiza a nuestros deportistas la libertad de movimiento y la confianza indispensable para que puedan disfrutar!
</p>
    
    <p>
    <strong>SOLUCION ZAMST:</strong>
</p>
<p>
    La AT-1 es la respuesta de ZAMST a esta patología, una de las más frecuentes en deportes de carrera y salto.
</p>
</div></div>

       <div class="col-md-5"> 
<p>
    <strong>EL TENDÓN DE AQUILES</strong>
</p>
<p>
    <strong>LESIONES:</strong>
</p>
<p>
    <strong>Las tendinopatías aquileas</strong>
</p>
<p>
    Esta “tendinitis” del tendón más voluminoso del cuerpo humano, el tendón de Aquiles, puede tener distintos orígenes:
</p>
<p>
    - impactos y fricciones repetidos
</p>
<p>
    - sobrecarga de trabajo, superficies de entrenamiento
</p>
<p>
    - problemas estáticos del esqueleto y / o del pie (malos apoyos)
</p>
<p>
    - calzado mal adaptado, mala hidratación, falta de calentamiento y estiramiento
</p>
<p>
    Al final, acabará por detener al deportista, si no actuamos de alguna manera preventiva.
</p>
            </div></div>

       <div class="col-md-4"> 


       </div>
              <div class="clearfix"></div>



              
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
